body{
    margin-bottom: 25px;
}

.nav-wrapper{
    width: 70%;
    margin: auto;
}

.btn-agregar-true{
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
}

.btn-agregar-false{
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    transition: 0.5s ease-in-out;
}

.preguntas{
    border: solid 1px #795548;
    border-radius: 15px;
    margin-top: 20px;
    padding:20px;
}

.pregunta{
    padding: 15px;
    border-bottom: dashed 1px #795548;
}

.respuestas{
    margin: 15px;
}

.quitar:link{
    color: red;
}
