
<div ng-controller="examenCtlr">
    <h3 class="center">Informe de Resultados</h3>
    <div class="row">
        <div class="input-field col s6" >
            <select id="carrera" ng-model="carrera"
                    ng-options="c.Id as c.Descripcion for c in carreras track by c.Id" display-select>
                <option value="">--Seleccionar Carrera--</option>
            </select>
        </div>
        <div class="input-field col s6" >
            <select id="periodo" ng-model="periodo"
                    ng-options="p.Id as  p.Anio+'/0'+p.Periodo for p in periodos track by p.Id" display-select>
                <option value="">--Seleccionar el Periodo Lectivo--</option>
            </select>
        </div>
    </div>

    <br>

    <div class="row" ng-show="mostrarContenido">
        <div class="col s12" >
            <div class="row">
                <div class="input-field col s6" >
                    <select id="materiaFilter" ng-model="materia"
                            ng-options="m.Id as m.Descripcion for m in materias track by m.Id" display-select>
                        <option value="">Todas las Asignaturas</option>
                    </select>
                </div>
            </div>
            <table class="striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Materia</th>
                    <th>Fecha</th>
                    <th>Tipo</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in resultados ">
                    <td>{{ x.Id }}</td>
                    <td>{{ x['Materia.Descripcion'] }}</td>
                    <td>{{x.FechaFormato}}</td>
                    <td>{{ x.Formativa ? 'Formativa':'Sumativa'}}</td>
                    <td>
                        <button ng-disabled="!x.Resultados" class="btn-floating light-blue darken-2" ng-click = "verInforme(x)">
                            <i class="material-icons">visibility</i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

